azurerm==0.8.27
msrestazure

# azure and azure-mgmt bundles deprecated
# so we list just the packages we need
azure-mgmt-resource
azure-graphrbac

# pip cannot proces earlier libcloud
apache-libcloud>=1.0.0,<3.0.0
